<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbb.flutter.flutter_sbb_gdt">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />    <!-- 可选，如果需要精确定位的话请加上此权限 -->
</manifest>
